[submodule ".grunt-init/gruntfile"]
	path = .grunt-init/gruntfile
	url = https://github.com/gruntjs/grunt-init-gruntfile.git
[submodule ".grunt-init/jquery"]
	path = .grunt-init/jquery
	url = https://github.com/gruntjs/grunt-init-jquery.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".mutt/mutt-colors-solarized"]
	path = .mutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
