[submodule ".grunt-init/gruntfile"]
	path = .grunt-init/gruntfile
	url = https://github.com/gruntjs/grunt-init-gruntfile.git
[submodule ".grunt-init/jquery"]
	path = .grunt-init/jquery
	url = https://github.com/gruntjs/grunt-init-jquery.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
